
.icon-home:before { content: '\e800'; } /* '' */
.icon-group:before { content: '\e801'; } /* '' */
.icon-tools:before { content: '\e802'; } /* '' */
.icon-contacts:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */